# Add any directories, files, or patterns you don't want to be tracked by version control

# Windows and OSX Specific System Files
.DS_Store
*.swp
ehthumbs.db
Thumbs.db
Icon\?

# Laravel, PHPStorm, VSCode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
