# Deny Access to this file

<Files .htaccess>
order allow,deny
deny from all
</Files>

# Deny Access to Bad Bots

SetEnvIfNoCase User-Agent ^$ bad_bots
SetEnvIfNoCase User-Agent "Wget" bad_bots
# Breaks facebook: php at end of user agent
# facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)  
# SetEnvIfNoCase User-Agent "PHP" bad_bots
SetEnvIfNoCase User-Agent "spbot" bad_bots
SetEnvIfNoCase User-Agent "DotBot" bad_bots
SetEnvIfNoCase User-Agent "AhrefsBot" bad_bots
SetEnvIfNoCase User-Agent "Yandex" bad_bots
SetEnvIfNoCase User-Agent "ezooms" bad_bots

<Limit GET POST HEAD>
Order Allow,Deny
Allow from all
Deny from env=bad_bots
</Limit>